<div class="wrap">
    <h1>Tasks management</h1>
    <input type="text" [(ngModel)]="description" minlength="3" #task="ngModel" required class="form-control">

    <div *ngIf="task.errors?.minlength">
        Task description must be at least 3 characters long.
    </div>

    <label>priority:</label>
    <select [(ngModel)]="selectedValue" class="form-control">
        <option *ngFor="let u of urgency">{{u}}</option>

    </select>

    <button (click)="addTask()" [disabled]="!task.valid" class="btn">add</button>

    <div *ngIf="tasksList.length" id="warpRadio">
        <h5>Tasks list</h5>

        <div class="radio">
            <label><input type="radio" name="optradio" (change)="changeToEntry()" checked>In order of entry</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio" (change)="changeToPriority()">In order of priority</label>
        </div>

    </div>



    <ul *ngFor="let t of tasksList; let i=index" class="list-group">
        <li class="list-group-item" [ngClass]="{'red': t.urgency=='High','green':t.urgency=='Normal'}">{{t.description}}
            <span (click)="deleteTask(i)" class="badge">{{i+1}}</span></li>
    </ul>
</div>